html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: 300%;
  font-weight: 100;
  margin: 0 0 .2em;
}

a {
  color: #00B7FF;
}

.board {
  display: flex;
}

.board h2 {
  font-size: 150%;
}

.column {
  flex: 1 0 25%;
  border-right: 1px dashed #ddd;
  padding: 0 1em;
}

.column:last-child {
  border-right: none;
}

.column .items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column .item {
  background: #f7f7f7;
  padding: 1em;
}

.working .item {
  background: rgb(228, 228, 255);
}

.verify .item {
  background: rgb(255, 248, 228);
}

.done .item {
  background: rgb(222, 245, 217);
}

.item .title {
  display: block;
  font-weight: 400;
  margin-bottom: .5em;
}

.item .actions {
  display: flex;
}

.item .actions form {
  flex: 1 1 auto;
}

.item .actions form[name="move back"] {
  text-align: left;
}

.item .actions form[name="move forward"] {
  text-align: right;
}
