include ./move-form

mixin column(name, items)
  div(class='column ' + name.toLowerCase())
    h2= name
    ul.items
      each item in items
        li.item
          h3.title
            a(href='/items/' + item.id)= item.title
          p.description= item.description
          .actions
            if item.back
              +move-form('back', item.id, item.back)
            if item.forward
              +move-form('forward', item.id, item.forward)
